<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ServletController</display-name>
    <servlet-name>ServletController</servlet-name>
    <servlet-class>ma.ac.esi.referentielCompetences.controleur.ServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletController</servlet-name>
    <url-pattern>/ServletController</url-pattern>
  </servlet-mapping>
  <display-name>ProjetJEE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SkillServlet</display-name>
    <servlet-name>SkillServlet</servlet-name>
    <servlet-class>ma.ac.esi.referentielCompetences.controleur.SkillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SkillServlet</servlet-name>
    <url-pattern>/SkillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>ma.ac.esi.referentielCompetences.controleur.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListeSkillsServlet</display-name>
    <servlet-name>ListeSkillsServlet</servlet-name>
    <servlet-class>ma.ac.esi.referentielCompetences.controleur.ListeSkillsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeSkillsServlet</servlet-name>
    <url-pattern>/ListeSkillsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>spprimerSkill</display-name>
    <servlet-name>spprimerSkill</servlet-name>
    <servlet-class>ma.ac.esi.referentielCompetences.model.spprimerSkill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>spprimerSkill</servlet-name>
    <url-pattern>/spprimerSkill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerSkillServlet</display-name>
    <servlet-name>SupprimerSkillServlet</servlet-name>
    <servlet-class>ma.ac.esi.referentielCompetences.controleur.SupprimerSkillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerSkillServlet</servlet-name>
    <url-pattern>/SupprimerSkillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>ma.ac.esi.referentielCompetences.controleur.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>categoriesServlet</display-name>
    <servlet-name>categoriesServlet</servlet-name>
    <servlet-class>ma.ac.esi.referentielCompetences.controleur.categoriesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>categoriesServlet</servlet-name>
    <url-pattern>/categoriesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deconnexionServlet</display-name>
    <servlet-name>deconnexionServlet</servlet-name>
    <servlet-class>ma.ac.esi.referentielCompetences.controleur.deconnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deconnexionServlet</servlet-name>
    <url-pattern>/deconnexionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditInfoServlet</display-name>
    <servlet-name>EditInfoServlet</servlet-name>
    <servlet-class>ma.ac.esi.referentielCompetences.controleur.EditInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditInfoServlet</servlet-name>
    <url-pattern>/EditInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePwdServlet</display-name>
    <servlet-name>ChangePwdServlet</servlet-name>
    <servlet-class>ma.ac.esi.referentielCompetences.controleur.ChangePwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePwdServlet</servlet-name>
    <url-pattern>/ChangePwdServlet</url-pattern>
  </servlet-mapping>
</web-app>